footer.site-footer {
  padding: 35px 0 50px;
  text-align: center;
  color: $white;
  background: $grey-dark;

  a{
    color: $white;
    text-transform: uppercase;

    #{$active}{
      color: $red;
      text-decoration: none;
    }
  }

  .copyright{
    color: #999;
    @include font-size(12px);
  }

  .menu-footer-menu-container{
    padding: 0 15px;
  }

  ul{
    padding: 0;
    display: inline-block;
    margin: 0 -15px 190px -15px;

    @media #{$xs-max} {
      margin-bottom: 50px;
    }

    li{
      display: block;
      float: left;
      padding: 0 15px;

      @media #{$xs-max} {
        width: 100%;
      }

      a{
        font-weight: 700;

        @media #{$xs-max} {
          padding: 10px 20px;
          display: inline-block;
        }
      }
    }
  }
}

.contact-us-section{
  background: #f7f7f7;

  .content-wrapper{
    padding: 50px 0 40px;
    position: relative;
  }

  h3{
    margin: 0 0 30px;
  }

  .content{
    position: relative;
    z-index: 2;

    @media #{$xs-max} {
      text-align: center;
    }
  }

  .horn{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 234px;
    height: auto;

    @media #{$xs-max} {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      opacity: 0.4;
      z-index: 1;

      img{
        height: 120%;
        margin-top: -3%;
        width: auto;
      }
    }
  }
}