header.site-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include font-size(14px);
  text-decoration: none;
  text-transform: uppercase;
  z-index: 20;

  .menu-open &{
    background: $white;
  }

  .navbar-brand{
    font-family: $proximaNova;
    letter-spacing: 3px;
    font-weight: 700;
    @include font-size(20px);

    @media #{$xs-max} {
      padding-top: 45px;
      line-height: 1;
      height: auto;
      padding-bottom: 45px;
    }
  }

  a{
    font-weight: 700;
  }

  li{
    &.current-page-parent{
      & > a {
        color: $red;
      }
    }
  }

  .nav .open>a,
  .nav .open>a:focus,
  .nav .open>a:hover{
    @media #{$xs-max} {
      border-color: #e7e7e7;
    }
  }

  .navbar-nav {
    @media #{$xs-max} {
      margin: 0;
    }

    & > li > a {
      @media #{$xs-max} {
        border-bottom: 1px solid #e7e7e7;
      }
    }
  }

  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu>li>a{
    @media #{$xs-max} {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .dropdown-menu{
    text-transform: none;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    border-color: #e7e7e7;
    left: 10px;
    right: auto;

    a{
      color: #999999;
      padding: 13px 30px;
      line-height: 1;

      @media #{$xs-max} {
        background: $grey-light;
      }
    }

    li{
      position: relative;
      border-bottom: 1px solid #e7e7e7;

      &:last-child{
        border: none;

        @media #{$xs-max} {
          border-bottom: 1px solid #e7e7e7;
        }
      }

      &:before{
        content: '';
        width: 20px;
        height: 100%;
        top: 0;
        left: -1px;
        position: absolute;
        background: $red;
        transition: all ease-in-out 0.3s;
        opacity: 0;
      }

      #{$active}{

        a{
          background: transparent;
          color: $red;
        }
      }

      &.current-menu-item{

        &:before{
          opacity: 1;
        }

        a{
          background: transparent;
          color: $red;
        }
      }
    }
  }

  .navbar-collapse{
    z-index: 1000;

    @media #{$xs-max} {
      margin: 0 -15px;
      background: $white;
    }
  }
}
.nav>li{
  &:last-child{
    &>a {
      padding-right: 0;
    }
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar{
  left: 4px;
  position: relative;
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .icon-bar{
  left: 0;
  position: relative;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}