/*hover slider*/
.slider{
  &.slider-hover{
    .carousel-inner { margin: auto; width: 90%; }
    .carousel-control 			 { width:  4%; }

    .carousel-control.left,
    .carousel-control.right {
      background-image:none;
    }

    .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
      margin-top:-10px;
      margin-left: -10px;
      color: #444;
    }

    .carousel-inner {
      a {
        display:table-cell;
        height: 180px;
        width: 200px;
        vertical-align: middle;
      }
      img {
        max-height: 150px;
        margin: auto auto;
        max-width: 100%;
      }
    }

    @media #{$xs-max} {
      .carousel-inner > .item.next,
      .carousel-inner > .item.active.right {
        left: 0;
        transform: translate3d(100%, 0, 0);
      }
      .carousel-inner > .item.prev,
      .carousel-inner > .item.active.left {
        left: 0;
        transform: translate3d(-100%, 0, 0);
      }
    }

    @media (min-width: 768px) and (max-width: 992px ) {
      .carousel-inner > .item.next,
      .carousel-inner > .item.active.right {
        left: 0;
        transform: translate3d(50%, 0, 0);
      }
      .carousel-inner > .item.prev,
      .carousel-inner > .item.active.left {
        left: 0;
        transform: translate3d(-50%, 0, 0);
      }
    }

    @media #{$sm-min} {
      .carousel-inner > .item.next,
      .carousel-inner > .item.active.right {
        left: 0;
        transform: translate3d(16.7%, 0, 0);
      }

      .carousel-inner > .item.prev,
      .carousel-inner > .item.active.left {
        left: 0;
        transform: translate3d(-16.7%, 0, 0);
      }
    }
  }
}