/*content 3col*/
.content{
  &.three-col{
    overflow: hidden;
    padding: 100px 0;

    .content-container {
      padding: 0;
      overflow: hidden;

      .content-row {
        margin: 0 -30px;

        .content-col {
          float: left;
          width: 33.3333%;
          padding: 0 30px;

          @media #{$xs-max} {
            width: 100%;
            padding: 0 50px;
            margin-bottom: 60px;

            &:last-child{
              margin-bottom: 0;
            }
          }

          .icon{
            height: 100px;
            width: auto;
            margin-bottom: 60px;

            @media #{$xs-max} {
              margin-bottom: 30px;
            }
          }

          h4{
            color: $gray-dark;
          }

          p{

            @media #{$xs-max} {
              min-height: 0;
            }
          }

          h4, p{
            margin: 0 0 30px 0;

            @media #{$xs-max} {
              margin: 0 0 20px 0;
            }
          }
        }
      }
    }
  }
}

.icon-wrapper{
  width: 100%;
  text-align: center;
  height: 60px;
  margin: 0 0 30px 0;
  line-height: 60px;

  .icon{
    height: auto;
    vertical-align: middle;
    margin-bottom: 0;
  }
}
