/*blocks*/
.blocks-content{
  padding: 100px 0;
}
.blocks-holder{
  text-align: center;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    font-size: 0;
    max-width: 1000px;
    width: 100%;
    counter-reset: my-counter;
    padding-top: 85px;

    @media #{$sm-max} {
      padding-top: 0;
    }

    li{
      text-align: left;
      width: 500px;
      //width: 100%;
      display: inline-block;
      position: relative;

      &:nth-child(1){
        background: #f7f7f7;
        top: -85px;
        margin: 0;
        z-index: 20;
      }
      &:nth-child(2){
        background: #f1f1f1;
        margin: 0 0 -85px -25px;
        z-index: 10;
      }
      &:nth-child(3){
        background: #e7e7e7;
        margin: -85px 0 0 145px;
        z-index: 5;
      }

      @media #{$sm-max} {

        &:nth-child(1){
          top: auto;
          margin: 0 75px 0 -75px;
        }
        &:nth-child(2){
          margin: -45px -75px 0 75px;
        }
        &:nth-child(3){
          margin: -45px 75px 0 -75px;
        }
      }

      @media #{$xs-max} {
        width: 100%;

        &:nth-child(n){
          top: auto;
          margin: 0;
        }

        img[alt=pusher] {
          display: none;
        }
      }

      .block-content{
        position: absolute;
        top: 0;
        left: 0;
        padding: 60px 50px;
        line-height: 1.15;

        @media #{$xs-max} {
          position: relative;
          padding: 40px 15px;
        }

        p{
          line-height: 1.2;
        }
      }

      .block-title{
        margin-top: 0;
        margin-bottom: 30px;
        @include font-size(25px);

        @media #{$xs-max} {
          text-align: center;
          margin-bottom: 25px;
          @include font-size(18px);
          position: relative;
        }

        &:before {
          content: counter(my-counter) '.';
          counter-increment: my-counter;
          display: block;
          margin-bottom: 25px;
          line-height: 1;

          @include font-size(50px);
          color: #de5b6b;

          @media #{$md-max} {
            @include font-size(40px);
          }

          @media #{$sm-max} {
            @include font-size(32px);
          }

          @media #{$xs-max} {
            display: block;
            position: absolute;
            left: 0;
            top: -5px;
            margin-bottom: 0;
            @include font-size(24px);
          }
        }
      }
    }
  }
}