// blog, posts-list
.post-list{
  padding-top: 120px;
  padding-bottom: 220px;

  @media #{$sm-max} {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  @media #{$xs-max} {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  .col-sm-7n5{
    @media #{$xs-max} {
      width: 100%;
    }
  }

  .post{
    padding: 0 15px;
    margin-bottom: 85px;

    @media #{$xs-max} {
      margin-bottom: 65px;
    }

    @media #{$xs-max} {
      margin-bottom: 50px;
    }

    h3{
      @include font-size(25px);

      @media #{$xs-max} {
        @include font-size(18px);
      }
    }

    .post-thumbnail {
      height: 385px;
      display: block;

      @media #{$md-max} {
        height: auto;
      }
    }

    .post-content{}

    a{
      #{$active}{
        text-decoration: none;
      }
    }
  }
}
.blog{
  .container-fluid{
    padding: 0 30px;

    @media #{$xs-max} {
      padding: 0 15px;
    }
  }
  .post-list{
    margin: 0 -30px;

    @media #{$xs-max} {
      margin: 0 -15px;
    }

    .col-sm-7n5{
      padding: 0 30px;

      @media #{$xs-max} {
        padding: 0 15px;
      }
    }
  }
}
.post-thumbnail{
  height: 750px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media #{$md-max} {
    height: auto;
    padding-bottom: 72%;
  }
}


// article single post
article.post{
  padding: 50px 0 150px;

  h2{
    margin: 0 0 20px 0;
  }
  .post-date{
    display: inline-block;
    margin-bottom: 45px;
  }

  .post-thumbnail{
    margin-bottom: 40px;
  }

  p{
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}