// contact
.contacts{
  padding: 100px 0 120px;
  overflow: hidden;

  .locations{

    @media #{$sm-max} {
      margin-bottom: 50px;
    }

    h4{
      margin: 0 0 20px 0;
    }
    a,p{
      @include font-size(18px);
    }
    p{
      margin: 0 0 45px 0;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}