// content gallery
.gallery-sm{
  width: 100%;
  height: auto;

  &>.row{
    padding: 0 5px;

    @media #{$xs-max} {
      padding: 0 10px;
    }
  }

  .col-sm-7n5{
    position: relative;
  }

  .gallery-img{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 10px;
    left: 10px;
    bottom: 25px;

    @media #{$xs-max} {
      top: 5px;
      right: 5px;
      left: 5px;
      bottom: 5px;
    }
  }
}
.gallery-lg{
  width: 100%;
  height: auto;

  &>.row{
    padding: 0 10px;
  }

  .col-sm-7n5{
    position: relative;
  }

  img[alt="pusher"]{
    width: 100%;
    max-height: 375px;
  }

  .gallery-img{
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
  }
}