.header-section{
  background: #f7f7f7;
  height: 400px;
  margin-top: -115px;
  padding-top: 115px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media #{$xs-max} {
    height: auto;
    margin-top: -115px;
    padding-top: 115px;
    padding-bottom: 50px;
  }

  .page-title{
    max-width: 60%;
    margin: 0;

    @media #{$xs-max} {
      max-width: 100%;
      text-align: center;
    }
  }

  .tagline{
    margin-top: 20px;
    margin-bottom: 55px;
  }

  ul{
    @include font-size(15px);
    font-weight: 700;
    color: $grey-dark;
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      font-size: inherit;
      display: inline-block;

      @media #{$xs-max} {
        display: block;
        padding-top: 10px;
        margin-bottom: 10px;
        position: relative;
      }

      &:after{
        content: "|";
        margin: 0 2px 0 6px;
        display: inline-block;

        @media #{$xs-max} {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          margin: 0;
          width: 18px;
          height: 0;
          display: block;
          border: 1px solid $red;
        }
      }

      &:last-child{
        &:after{
          display: none;

          @media #{$xs-max} {
            display: block;
          }
        }
      }

      a{
        font-size: inherit;
        color: inherit;
        text-decoration: none;

        #{$active}{
          color: $red;
        }
      }
    }
  }
}