/*content with multiple cols*/
.content-cols{
  p{
    min-height: 200px;
    margin-bottom: 20px;

    @media #{$xs-max} {
      min-height: 0;
    }
  }
  img{
    width: auto;
    margin-bottom: 30px;
    display: inline-block;
  }

  h4{
    margin: 0 0 20px;
  }
}