/*separated slider*/
.slider-separated{
  padding: 100px 0 70px;

  @media #{$xs-max} {
    padding: 50px 0 50px;
  }

  .item{
    background: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    img{
      width: 100%;
      height: auto;
    }
  }
}