/*slider-fluid*/
.slider-fluid{
  overflow: hidden;
  word-break: keep-all;
  font-size: 0;
  white-space: nowrap;
  position: relative;
  margin-bottom: 40px;

  &:last-child{
    margin-bottom: 0;
  }

  @media #{$xs-max} {
    margin-bottom: 20px;
  }

  &.right{

    .item{
      &:last-child{
        margin-right: calc(6.6666% + 15px);

        @media #{$xs-max} {
          margin-right: 15px;
        }
      }
    }
  }

  .scroll-wrapper{
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);

    @media #{$xs-max} {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  .slider-nav{
    z-index: 200;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    left: 0;
    top: 0;

    @media #{$xs-max} {
      display: none;
    }

    .prev,
    .next {
      width: 100px;
      height: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      z-index: 20;
      pointer-events: auto;
      cursor: pointer;
    }

    .prev{
      left: 0;
    }
    .next{
      right: 0;
    }
  }

  .slider-wrapper{
    position: relative;
    z-index: 1;
  }
}