/*testimonials(blockquote)*/
.testimonial{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  color: $white;
  font-weight: 700;
  padding: 110px 0 130px;

  @media #{$xs-max} {
    padding: 50px 0 50px;
  }

  blockquote{
    padding: 0;
    margin: 0;
    border: none;
  }

  p{
    font-size: inherit;
    margin-bottom: 55px;
  }

  span{
    display: block;
  }

  .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    background: $red;
  }

  blockquote{
    @include font-size(25px);

    @media #{$xs-max} {
      @include font-size(18px);
    }
  }
}