//timeline
.timeline-content{
  overflow: hidden;
  padding: 100px 0;

  .timeline{
    counter-reset: timeline-counter;
    margin: 0;
    width: 100%;
    list-style: none;
    padding: 0 20px;

    @media #{$xs-max} {
      padding: 0 0 0 20px;
    }
  }

  li {
    padding: 85px 0 70px;
    display: block;
    position: relative;
    border-bottom: 1px solid $red;

    @media #{$xs-max} {
      border: none;
      padding: 35px 0 1px;
    }

    &:before,
    &:after{
      @include font-size(300px);
      display: block;
      position: absolute;
      top: 50%;
      vertical-align: middle;
      transform: translate(0, -50%);
      color: #dddddd;
      font-weight: 700;

      @media #{$sm-max} {
        @include font-size(200px);
      }

      @media #{$xs-max} {
        @include font-size(26px);
        display: block;
      }
    }

    &:nth-child(even){
      border-right: 1px solid $red;

      @media #{$xs-max} {
        border-left: 1px solid $red;
        border-right: none;
      }

      &:after {
        right: 100px;
        content: counter(timeline-counter) '.';
        counter-increment: timeline-counter;

        @media #{$sm-max} {
          right: 50px;
        }
        @media #{$xs-max} {
          display: none;
        }
      }

      &:before {
        @media #{$xs-max} {
          content: counter(timeline-counter);
          counter-increment: timeline-counter;
          right: auto;
          left: -8px;
          top: 45px;
          z-index: 10;
        }
      }
    }

    &:nth-child(odd){
      border-left: 1px solid $red;

      &:before {
        left: 100px;
        content: counter(timeline-counter) '.';
        counter-increment: timeline-counter;

        @media #{$sm-max} {
          left: 50px;
        }

        @media #{$xs-max} {
          content: counter(timeline-counter);
          counter-increment: timeline-counter;
          right: auto;
          left: -8px;
          top: 45px;
          z-index: 10;
        }
      }
    }

    &:first-child{
      .stage {
        &:before{
          content: '';
          position: absolute;
          left: -2px;
          width: 5px;
          height: 50%;
          z-index: 1;
          background: $white;
          top: 0;

          @media #{$xs-max} {
            height: 46px;
          }
        }
      }
    }

    &:last-child {
      border-bottom: none;
      padding-bottom: 30px;

      .stage {
        &:before {
          content: '';
          width: 9999px;
          position: absolute;
          bottom: 0;
          height: 1px;
          background: $red;

          @media #{$xs-max} {
            right: auto;
            left: 0;
          }
        }
      }

      &:nth-child(odd) {
        .stage {
          &:before {
            left: 0;
          }
        }
      }

      &:nth-child(even) {
        .stage {
          &:before {
            right: 0;
          }
        }
      }
    }

    &:nth-child(odd){
      .stage {
        padding-left: 500px;
        padding-right: 100px;

        @media #{$sm-max} {
          padding-left: 300px;
          padding-right: 0;
        }

        @media #{$xs-max} {
          padding-left: 30px;
        }

        &:after{
          left: -20px;
        }
      }
    }

    &:nth-child(even){
      .stage {
        padding-right: 470px;
        padding-left: 100px;

        @media #{$sm-max} {
          padding-right: 280px;
          padding-left: 0;
        }

        @media #{$xs-max} {
          padding-right: 0;
          padding-left: 30px;
        }

        &:after {
          right: -20px;

          @media #{$xs-max} {
            left: -20px;
          }
        }
      }
    }

    .stage {
      display: block;

      &:after{
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -20px;
        width: 40px;
        height: 40px;
        background: $white;
        border: 1px solid $red;
        z-index: 2;
        border-radius: 50%;

        @media #{$xs-max} {
          top: 45px;
        }
      }

      h4{
        padding-left: 0;
        margin: 0 0 30px 0;

        @media #{$sm-max} {
          padding-left: 0;
        }

        img{
          margin-right: 15px;
          vertical-align: middle;
        }
      }
    }
  }
}