.work-item{
  position: relative;
  display: inline-block;

  .slider &{
    max-width: 270px;
    margin-right: 40px;
    width: 100%;

    @media #{$xs-max} {
      max-width: 200px;
      margin-right: 20px;
    }

    &:first-child{
      margin-left: 0;

      @media #{$xs-max} {
        margin-left: 0;
      }
    }

    &:last-child{
      margin-right: 0;

      @media #{$xs-max} {
        margin-right: 0;
      }
    }
  }

  a{
    display: block;
  }

  &:hover{
    .slider-item-content {
      background: rgba($red, 0.9);
      opacity: 1;
    }
  }


  .slider-item {
    &-content {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba($red, 0);
      color: $white;
      opacity: 0;
      transition: all ease-in-out 0.3s;
      padding: 50px 40px;
      font-weight: 700;

      @media #{$xs-max} {
        padding: 30px 20px;
        text-align: center;
        background: rgba($red, 0);
        opacity: 1;
      }

      *{
        display: block;
      }
    }

    &-title{
      @include font-size(25px);
      margin-bottom: 10px;
    }

    &-desc{
      @include font-size(18px);
    }
  }

  img{
    width: 100%;
    height: auto;
  }
}