//works-grid
.works-grid{
  padding: 100px 0;

  .grid-wrapper{
    padding: 30px 0 0;
    overflow: hidden;
    width: 100%;
  }

  .work-item{
    height: 300px;
    margin: 0;
    display: block;
    position: relative;

    @media #{$md-max} {
      height: auto;
      padding-bottom: 75%;
    }

    @media #{$xs-max} {
      margin: 0 0 20px;
    }

    & > a{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .slider-item{
      &-content{
        @media #{$xs-max} {
          padding: 60px 20px;
        }
      }
    }
  }
}