// grid
$grid-columns: 15;

// navbar
$navbar-height: 110px;
$navbar-margin-bottom: '';
$navbar-border-radius: 0;
$navbar-padding-horizontal: 0;
$navbar-padding-vertical: 40px;
$navbar-collapse-max-height: 100%;
$navbar-default-color: $grey-dark;
$navbar-default-bg: transparent;
$navbar-default-border: transparent;
$navbar-default-link-color: $grey-dark;
$navbar-default-link-hover-color: $red;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color:  $red;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-disabled-bg: transparent;
$navbar-default-brand-color: $text-color;
$navbar-default-brand-hover-color: $text-color;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: $brand-text;
$navbar-default-toggle-border-color: transparent;

//button
$btn-red-background-color: $red;
$btn-blue-background-color: $blue-light;
$btn-blue-color: $blue-dark;
$btn-border-radius-base: 0;

//input
$input-color-placeholder: $blue;
$input-border-radius: 0;

//table
$table-border-color: $light-blue;
$table-cell-padding: 14px 8px;

//modal
$modal-content-bg: transparent;
$modal-content-border-color: transparent;
$modal-content-fallback-border-color: transparent;
$modal-header-border-color: transparent;
$modal-footer-border-color: transparent;
$modal-backdrop-opacity: 0.8;