.btn{
  border-radius: 30px;
  @include font-size(14px);
  line-height: 1;
  background: transparent;
  border-color: inherit;
  font-weight: 700;
  transition: all ease-in-out 0.3s;

  &.btn-lg{
    padding: 28px 45px;
  }
  &.btn-md{
    padding: 21px 45px;
  }

  &.btn-default{
    color: $grey-dark;

    #{$active}{
      background: transparent;
      border-color: inherit;
      color: $red;
    }
  }

  &.btn-primary{
    color: $red;

    #{$active}{
      background: $red;
      border-color: inherit;
      color: $white;
    }
  }

  &.btn-filled{
    background: $red;
    border-color: $red;
    color: $white;

    #{$active}{
      background: darken($red, 10%);
      border-color:  darken($red, 10%);
      color: $white;
    }
  }
}

textarea.form-control,
input.form-control{
  border: 1px solid #aaa;
  padding: 21px 20px;
  @include font-size(18px);
  line-height: 1;
  box-shadow: none;
  color: #333;
  transition: all ease-in-out 0.3s;

  #{$active}{
    color: #333;
    border: 1px solid $red;
    box-shadow: none;
  }

  &::-webkit-input-placeholder{
    color: #aaa;
  }
  &::-moz-placeholder{
    color: #aaa;
  }
  &:-ms-input-placeholder{
    color: #aaa;
  }
  &:-moz-placeholder {
    color: #aaa;
  }
}