@font-face {
  font-family: 'Avenir';
  src:  url('../fonts/Avenir-Black.eot'); /* IE9 Compat Modes */
  src:  url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Avenir-Black.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Avenir-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg'); /* Legacy iOS */
  font-weight: 700;
}
@font-face {
  font-family: 'Avenir';
  src:  url('../fonts/Avenir-Book.eot'); /* IE9 Compat Modes */
  src:  url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/Avenir-Book.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/Avenir-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg'); /* Legacy iOS */
  font-weight: 400;
}
@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/ProximaNova-Regular.eot'); /* IE9 Compat Modes */
  src:  url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ProximaNova-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'); /* Legacy iOS */
  font-weight: 400;
}
@font-face {
  font-family: 'ProximaNova';
  src:  url('../fonts/ProximaNova-Bold.eot'); /* IE9 Compat Modes */
  src:  url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/ProximaNova-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'); /* Legacy iOS */
  font-weight: 700;
}