.margin{
  &-top{
    &-130{
      margin-top: 130px;

      @media #{$xs-max} {
        margin-top: 20px;
      }
    }
    &-200{
      margin-top: 200px;

      @media #{$xs-max} {
        margin-top: 20px;
      }
    }
  }
  &-bottom{
    &-100{
      margin-bottom: 100px;
    }
    &-65{
      margin-bottom: 65px;
    }
    &-30{
      margin-bottom: 30px;
    }
  }
}
img.fullwidth{
  width: 100%;
}
.col-sm-7n5{
  width: 50%;
  float: left;
}
.row-inline{
  font-size: 0;

  [class^="col-"], [class*=" col-"] {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}
img[alt="pusher"]{
  width: 100%;
  height: auto;
}
