.icon-heart{
  width: 55px;
  height: 43px;
}
.icon-baloon{
  width: 44px;
  height: 44px;
}
.icon-check{
  width: 46px;
  height: 45px;
}
.icon-cmd{
  width: 51px;
  height: 42px;
}
.icon-speedometer{
  width: 59px;
  height: 30px;
}
.icon-tablet{
  width: 34px;
  height: 43px;
}