*,
*:hover,
*:focus,
*:active {
  outline: none !important;
}

html {
  color: $brand-text;
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-size: 10px;
  margin: 0;
  padding: 0;
  width: 100%;
  color: $grey-text;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
  @include font-size(18px);
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  padding-top: 115px;
}

.page-title{
  margin: 0;
  position: relative;
  font-weight: 700;
  color: $red;
  text-transform: uppercase;
}

.section-divider{
  margin-top: 60px;
  margin-bottom: 30px;

  .divider {
    border: 1px solid $grey-light;
    float: none;
    height: 0;
    width: 100%;
  }
}



// custom styles
.home {
  .content{
    &:first-child{
      .section-title{
        @include font-size(70px);

        @media #{$sm-max} {
          @include font-size(50px);
        }

        @media #{$xs-max} {
          @include font-size(32px);
        }
      }
    }
  }
  .blocks-content{
    padding-bottom: 0;
  }
  .header-section{
    height: 800px;
    padding-top: 300px;
    margin-bottom: 40px;

    @media #{$xs-max} {
      padding-top: 115px;
      height: auto;
    }
  }
}

.single-post,
.blog,
.page-template-template-main{
  .header-section {
    position: relative;

    .container-fluid{
      position: absolute;
      top: calc(50% + 45px);
      left: 0;
      width: 100%;
      transform: translate(0, -50%);

      @media #{$xs-max} {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
      }
    }

    .tagline {
      margin-bottom: 0;
    }
  }

  main {
    .content {
      &:first-child {
        padding-top: 140px;

        & ~ .section-divider {
          margin: 50px 0 60px;
        }
      }
    }
  }
}

#e-commerce-development,
#web-design-development{
  main {
    .content {
      & + .clearfix + .content {
        padding-top: 0;
      }
    }
  }
}

#graphic-paint{
  main {
    .content {
      &:first-child {
        padding-top: 0;
      }
    }
  }
}

.caret{
  border-top: 5px dashed;
  margin-top: -3px;
}