.modal.fade{
  opacity: 0;
  transition: opacity ease-in-out 0.3s;

  &.in {
    opacity: 1;
  }

  &.wpcf7-modal {
    &.in {
      .modal-dialog {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        margin: 0;
      }
    }

    .modal-dialog {
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      margin: 0;
    }
  }

  .modal-dialog {

    @media #{$xs-min} {
      min-width: 700px;
    }

    .modal-content {
      background: #f7f7f7;
      border-radius: 0;
      box-shadow: none;

      .modal-header{
        padding-top: 30px;

        .modal-title{
          @include font-size(35px);
        }
      }

      .modal-body{
        padding-top: 30px;

        h2{
          @include font-size(35px);
        }
        p {
          margin-bottom: 30px;
        }
      }

      .modal-footer{
        padding-bottom: 30px;
        text-align: center;
      }
    }
  }

  .btn-close {}

  &.wpcf7-modal{

    .modal-dialog{
      .modal-content{
        .modal-body{
          &,p{
            @include font-size(14px);
          }
        }
      }
    }
  }

  &.content-modal{
    .modal-header{
      padding-top: 75px;
      padding-bottom: 0;

      .close{
        position: absolute;
        top: 30px;
        right: 40px;

        @media #{$xs-max} {
          top: 15px;
          right: 15px;
        }
      }
    }

    .modal-body{
      padding-top: 0;
    }
  }
}

.post-content-inner{ }
