//owl defaults
.owl-carousel{
  overflow: hidden;

  .owl-item{
    float: left;
  }

  .owl-nav{
    &.disabled{
      display: none;
    }
  }

  .owl-stage-outer{
    overflow: hidden;
  }

  .owl-dots{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0;
    overflow: hidden;
    margin-top: 55px;

    .owl-dot{
      display: inline-block;
      width: 0;
      height: 0;
      padding: 5px;
      margin: 0 5px;
      border-radius: 50%;
      border: 1px solid #a1a1a1;
      background: transparent;
      cursor: pointer;
      transition: all ease-in-out 0.3s;

      &.active,
      #{$active}{
        background: #a1a1a1;
      }
    }
  }
}