// Typography
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
}
h1, h2, h3, h4 {
  color: $grey-dark;
}

h1{
  @include font-size(55px);
  line-height: 1.14;

  @media #{$sm-max}{
    @include font-size(32px);
  }

  @media #{$xs-max} {
    @include font-size(24px);
  }
}
h2{
  @include font-size(40px);
  line-height: 1.18;
  //color: $blue;
  font-weight: 700;

  @media #{$sm-max}{
    @include font-size(24px);
  }

  @media #{$xs-max} {
    @include font-size(18px);
  }
}
h3{
  @include font-size(30px);
  line-height: 1.18;
  //color: $blue;
  font-weight: 700;

  @media #{$sm-max}{
    @include font-size(24px);
  }

  @media #{$xs-max} {
    @include font-size(18px);
  }
}
.section-title{
  @include font-size(40px);
  margin: 0 0 50px 0;
  padding: 0 0 35px 0;
  line-height: 1.18;
  //color: $blue;
  font-weight: 700;
  position: relative;

  @media #{$sm-max}{
    @include font-size(32px);
  }

  @media #{$xs-max} {
    @include font-size(24px);
  }

  &:after{
    content: '';
    position: absolute;
    width: 64px;
    height: 2px;
    display: block;
    background: $red;
    bottom: 0;
    left: 0;
  }

  &.text-center {
    &:after{
      left: 50%;
      margin-left: -17px;
      width: 34px;
    }
  }

  &.text-white{
    &:after{
      background: $white;
    }
  }
}
.text-red{
  color: $red;
}
.text-white{
  color: $white;
}
h4{
  @include font-size(18px);
  line-height: 1.33;
  font-weight: 700;
}

p,a{
  @include font-size(14px);
  line-height: 1.39;

  @media #{$sm-max} {
    @include font-size(14px);
  }

  @media #{$xs-max} {
    @include font-size(14px);
  }
}
a{
  color: $red;
  transition: all ease-in-out 0.3s;

  #{$active}{
    color: lighten($red, 20%);
  }
}
ul{
  @extend .small;
}

.small{
  @include font-size(14px);
  line-height: 1.43;
}

b,strong{
  font-weight: 700;
}

.fixed {
  font-family: $fixed-font-family;
  font-size: $fixed-font-size;
  line-height: $fixed-line-height;
}

.quiet {
  color: $quiet-color;
}
.loud  {
  color: $loud-color;
}

.italic {
  font-style: italic;
}
.bold   {
  font-weight: 700;
  @extend .loud;
}

.block-margins { margin: 2em 0; }

.unordered-list { list-style-type: disc; }
.ordered-list { list-style: decimal; }

.typography {
  i, em { @extend .italic; }
  b, strong { @extend .bold; }

  p, ul, ol, pre { @extend .block-margins; }

  ul { @extend .unordered-list; }
  ol { @extend .ordered-list; }

  pre, code { @extend .fixed; }
}

.title{
  font-weight: 700;

  &.title-lg{
    @include font-size(72px);

    @media #{$sm-max} {
      @include font-size(50px);
    }

    @media #{$xs-max} {
      @include font-size(32px);
    }
  }
  &.title-huge{
    @include font-size(96px);
  }
}