// Default Colors
$brand-text: #003750;
$white: #FFFFFF;
$black: #000000;

// Typo
//base
$text-color: $brand-text;
$base-font-family: 'Avenir';
$proximaNova: 'ProximaNova';
$base-font-weight: 400;

$red: #d32b54;
$blue-ultra-light: #517E9B;
$blue-light: #557f9d;
$blue: #2d5a76;
$blue-dark: #043952;
$blue-footer-link: #c4dce8;
$light-blue: #71a8c5;
$grey-dark: #333;
$grey: #999;
$grey-text: #555655;
$grey-light: #F0F0F0;
$grey-bright: #F5F5F5;
$grey-blue: #85a8c5;
$grey-light-blue: #c4d7e8;

//heading
$heading-font-family: '';
$heading-font-weight: '';

//fixed sizes
$fixed-font-family: '';
$fixed-font-size: '';
$fixed-line-height: '';

//color switch
$quiet-color: inherit;
$loud-color: inherit;

//custom
$header-height-lg: 100px;
$header-height-sm: 70px;

//states
$active: '&:hover, &:focus, &:active, &:active:hover';