// wpcf7
.wpcf7-form-control-wrap{
  position: relative;
  display: block;
}
.wpcf7-not-valid-tip{
  position: absolute;
  top: 50%;
  right: 15px;
  pointer-events: none;
  transform: translate(0, -50%);
  transition: all ease-in-out 0.3s;

  @media #{$xs-max} {
    top: -20px;
    right: 0;
    transform: none;
  }
}
textarea.wpcf7-not-valid.form-control + .wpcf7-not-valid-tip{
  top: 15px;
  transform: none;

  @media #{$xs-max} {
    top: -20px;
    right: 0;
  }
}
.wpcf7-not-valid.form-control{
  background: lighten($red, 49%);

  &:focus + .wpcf7-not-valid-tip{
    //display: none;
    //opacity: 0;
  }
}
.wpcf7-response-output{
  display: none !important;
}
div.wpcf7{
  position: relative;

  @media #{$xs-max} {
    padding-top: 30px;
  }

  p{
    margin: 0;

    &.form-content{
      margin-bottom: 50px;
    }
  }

  .wpcf7-form-control-wrap{
    position: relative;
    display: block;
    margin-bottom: 20px;
  }

  .wpcf7-submit{
    margin-top: 50px;
    display: block;
    position: relative;
    z-index: 3;
    background: $white;

    #{$active}{
      background: $red;
    }
  }
}

/*loader*/
div.wpcf7 {
  .ajax-loader {
    position: absolute;
    left: -5px;
    bottom: -6px;
    margin: 0;
    background-image: none;
    width: 147px;
    height: 69px;
    border: none;
    padding: 0;
    vertical-align: middle;
    animation: none;
    z-index: 2;
    visibility: hidden;
    display: none;

    &.is-active {
      visibility: visible;
      display: block;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-style: solid;
      border-radius: 50%;
      border-color: transparent transparent transparent $red;
      transition: all linear .3s;
      width: 68px;
      height: 68px;
      border-width: 2px;
    }
    &:before{
      animation: spin-1 2s infinite linear 1s;
      right: 0;
      left: auto;
    }
    &:after{
      transform: rotate(180deg);
      animation: spin-2 2s infinite linear;
    }
  }
}

@keyframes spin-1 {
  0%{
    transform: rotate(360deg)
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(0);
  }
}

@keyframes spin-2 {
  0%{
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(540deg)
  }
}